<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="editTask makeCentered">
        <h1>Edit your task</h1>
        <input type="text" placeholder="Edit the title of your task" class="titleOfTask">
        <textarea name="description" placeholder="Edit the description of your task" class="descriptionOfTask"></textarea>
        <div class="makeCentered">
          <label for="taskCheck">Is active: </label>
          <input type="checkbox" name="taskCheck" id="editCheckbox" class="checkmark">
        </div>
        <div class="deleteEditButtons makeCentered">
            <button class="editImg glow">Edit Image</button>
            <button class="deleteImg glow">Delete Image</button>
        </div>
      </div>
</body>
</html>