<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <style>
        table, th, td {
          border: 1px solid;
        }
    </style> -->
    <title>Document</title>
</head>
<body>
    <div class="dataPart makeCentered">
        <table class="data">
            <tr class="tableHeader">
                <td>TITLE</td>
                <td>DATE CREATED</td>
                <td>DESCRIPTION</td>
                <td>IMAGE</td>
                <td>STATUS</td>
                <td>DETAILS / DELETE</td>
            </tr>
            <tr class="tableRow">
                <td>Dummy Text</td>
                <td>15.02.2023</td>
                <td>This task is a dummy task and is for testing purposes</td>
                <td><img src="../../assets/test.jpg" alt="clicktest" width="50px" height="50px"></td>
                <td>Not done</td>
                <td><div class="editPart">
                    <a href="/task/1"><button class="glow">Details</button></a>
                    <button class="glow delButton">Delete</button>
                </div></td>
            </tr>
        </table>

    </div>
    <div class="addButton makeCentered">
        <a href="newTask"><button class="glow">Add Task</button></a>
    </div>
</body>
</html>
